In [3]:
import numpy as np
import pandas as pd

С помощью библиотеки numpy
1.	Загрузите файл показания счетчиков power.csv

In [4]:
df=pd.read_csv('power.csv', sep=',', encoding='UTF-8')
df.dtypes

building       int64
porch          int64
floor          int64
apartment      int64
kwth         float64
dtype: object

In [5]:
df

     building  porch  floor  apartment        kwth
0           0      0      0          0  393.145226
1           0      0      0          1  531.038447
2           0      0      0          2  559.235808
3           0      0      0          3  453.154977
4           0      0      0          4  324.074795
..        ...    ...    ...        ...         ...
115         1      2      3          0  181.203960
116         1      2      3          1  439.392880
117         1      2      3          2  314.881530
118         1      2      3          3  260.142618
119         1      2      3          4  447.594927

[120 rows x 5 columns]

In [48]:
df.groupby('building').agg({'kwth': ['mean', 'max', 'min', 'std']})

                kwth
                mean         max         min
building
0         419.608842  646.081019  173.473847
1         391.605713  622.594543  157.395722

In [52]:
df.groupby('porch').agg({'kwth': ['mean', 'max', 'min', 'sum', 'std']})

             kwth
             mean         max         min           sum         std
porch
0      409.821232  587.148620  157.395722  16392.849275  105.383210
1      416.646594  622.594543  220.719115  16665.863745   96.880628
2      390.354008  646.081019  173.473847  15614.160319  107.835956

In [53]:
df.groupby('floor').agg({'kwth': ['mean', 'max', 'min', 'std']})

             kwth
             mean         max         min         std
floor
0      420.666759  622.594543  271.066841   91.611996
1      406.916298  587.148620  220.719115   97.596076
2      409.066220  646.081019  157.395722  121.233821
3      385.779835  564.489255  174.938933  102.169577

In [54]:
df.groupby('apartment').agg({'kwth': ['mean', 'max', 'min', 'std']})

                 kwth
                 mean         max         min         std
apartment
0          430.940750  646.081019  181.203960  109.139232
1          436.463085  598.033284  292.132624   87.304170
2          403.706752  566.337095  157.395722  108.313750
3          358.668171  558.316137  173.473847  106.863786
4          398.257631  618.764868  262.074449   91.675627

In [55]:
df_2=df

In [ ]:
df_2[]

In [42]:
df.columns

Index(['building', 'porch', 'floor', 'apartment', 'kwth'], dtype='object')

In [7]:
#df=df.rename(columns={'здание' : 'building', 'подъезд' : 'porch', 'этаж' : 'floor', 'квартира' : 'number', 'кВтч' : 'kwt_h'})
df

     building  porch  floor  apartment        kwth
0           0      0      0          0  393.145226
1           0      0      0          1  531.038447
2           0      0      0          2  559.235808
3           0      0      0          3  453.154977
4           0      0      0          4  324.074795
..        ...    ...    ...        ...         ...
115         1      2      3          0  181.203960
116         1      2      3          1  439.392880
117         1      2      3          2  314.881530
118         1      2      3          3  260.142618
119         1      2      3          4  447.594927

[120 rows x 5 columns]

2.	Создайте отдельный одномерный массив numpy показаний счетчика

In [8]:
kwt_array=np.array(df['kwth'])

In [9]:
kwt_array

array([393.14522563, 531.03844742, 559.23580759, 453.15497731,
       324.07479453, 373.66248979, 346.59126264, 479.88573109,
       558.31613705, 262.07444862, 411.14114479, 520.02339012,
       509.17405566, 272.47566539, 404.19534578, 447.86712869,
       428.59679011, 334.75986465, 174.93893332, 564.4892545 ,
       538.65992236, 506.74801857, 398.10121113, 349.33298001,
       491.38181406, 486.48523252, 375.87933695, 566.33709458,
       380.74186418, 387.16077567, 416.8442116 , 598.03328433,
       474.02501576, 362.48034871, 416.92979189, 454.39464334,
       497.41753364, 509.82674139, 272.20471493, 306.76627039,
       303.29565313, 314.69132267, 374.88454329, 473.63796487,
       411.96952507, 324.56709249, 296.69430248, 455.14188565,
       264.27191911, 559.88513624, 646.08101884, 292.13262366,
       548.27996241, 173.47384689, 618.76486794, 498.93328765,
       386.12147617, 417.18395389, 247.63763986, 430.29081794,
       428.84079815, 381.84230344, 333.48545198, 502.92561723,
       436.40718161, 587.14862006, 496.11799706, 468.87431223,
       397.59985028, 303.05424693, 452.52891666, 398.80791437,
       157.39572235, 263.35086838, 271.45019672, 395.13503908,
       538.03093525, 333.12458293, 487.17682654, 410.71099911,
       622.59454348, 564.17544003, 271.06684119, 344.47439748,
       405.18753755, 358.09581854, 443.91446342, 220.71911502,
       508.27348657, 352.98170899, 273.5128585 , 464.78505164,
       476.55907031, 406.85668499, 368.34421754, 467.68193023,
       384.68910308, 284.96410461, 358.39311951, 298.84344634,
       506.66201086, 323.07921869, 413.42158466, 332.00314781,
       330.48448001, 451.62249246, 446.70810989, 353.66658897,
       306.19235911, 394.82504876, 322.47396297, 499.602843  ,
       433.96728239, 457.98013521, 360.3162986 , 181.2039597 ,
       439.39288046, 314.88152994, 260.14261771, 447.59492746])

In [10]:
kwt_array.shape

(120,)

3.	Создайте многомерный массив показаний счетчика где оси куба
a.	аxis=0 – номер дома
b.	аxis=1 – номер подъезда
c.	аxis=2 – номер этажа
d.	аxis=3 – номер квартиры

In [11]:
df.building.value_counts()
#у нас есть 2 строения - 1 и 2

0    60
1    60
Name: building, dtype: int64

In [12]:
df.porch.value_counts()
#3 подъезда

0    40
1    40
2    40
Name: porch, dtype: int64

In [13]:
df.floor.value_counts()
#4 этажа

0    30
1    30
2    30
3    30
Name: floor, dtype: int64

In [14]:
df.apartment.value_counts()
#5 квартир

0    24
1    24
2    24
3    24
4    24
Name: apartment, dtype: int64

In [15]:
array_4d=kwt_array.reshape((2,3,4,5))
#четырехмерный массив, в котором будет 2 дома, в каждом доме по 3 подъезда, по 4 этажа и 5 квартир

In [16]:
array_4d

array([[[[393.14522563, 531.03844742, 559.23580759, 453.15497731,
          324.07479453],
         [373.66248979, 346.59126264, 479.88573109, 558.31613705,
          262.07444862],
         [411.14114479, 520.02339012, 509.17405566, 272.47566539,
          404.19534578],
         [447.86712869, 428.59679011, 334.75986465, 174.93893332,
          564.4892545 ]],

        [[538.65992236, 506.74801857, 398.10121113, 349.33298001,
          491.38181406],
         [486.48523252, 375.87933695, 566.33709458, 380.74186418,
          387.16077567],
         [416.8442116 , 598.03328433, 474.02501576, 362.48034871,
          416.92979189],
         [454.39464334, 497.41753364, 509.82674139, 272.20471493,
          306.76627039]],

        [[303.29565313, 314.69132267, 374.88454329, 473.63796487,
          411.96952507],
         [324.56709249, 296.69430248, 455.14188565, 264.27191911,
          559.88513624],
         [646.08101884, 292.13262366, 548.27996241, 173.47384689,
          618.76486794],
         [498.93328765, 386.12147617, 417.18395389, 247.63763986,
          430.29081794]]],


       [[[428.84079815, 381.84230344, 333.48545198, 502.92561723,
          436.40718161],
         [587.14862006, 496.11799706, 468.87431223, 397.59985028,
          303.05424693],
         [452.52891666, 398.80791437, 157.39572235, 263.35086838,
          271.45019672],
         [395.13503908, 538.03093525, 333.12458293, 487.17682654,
          410.71099911]],

        [[622.59454348, 564.17544003, 271.06684119, 344.47439748,
          405.18753755],
         [358.09581854, 443.91446342, 220.71911502, 508.27348657,
          352.98170899],
         [273.5128585 , 464.78505164, 476.55907031, 406.85668499,
          368.34421754],
         [467.68193023, 384.68910308, 284.96410461, 358.39311951,
          298.84344634]],

        [[506.66201086, 323.07921869, 413.42158466, 332.00314781,
          330.48448001],
         [451.62249246, 446.70810989, 353.66658897, 306.19235911,
          394.82504876],
         [322.47396297, 499.602843  , 433.96728239, 457.98013521,
          360.3162986 ],
         [181.2039597 , 439.39288046, 314.88152994, 260.14261771,
          447.59492746]]]])

4. Выведите размер и форму куба

In [17]:
array_4d.size

120

In [18]:
array_4d.shape

(2, 3, 4, 5)

5.	Посчитайте по всему дому:
a.	Все потребление
b.	Мин и макс
c.	Среднее и дисперсию

In [19]:
array_4d.sum(), array_4d.min(), array_4d.max()
#сумма, минимальное, максимальное по всему дому

(48672.87333901429, 157.3957223504202, 646.0810188388743)

In [20]:
array_4d.mean(), array_4d.var(), array_4d.std()
#среднее, дисперсия, стандартное отклонение по всему массиву

(405.60727782511907, 10563.118286115458, 102.77703189971706)

6.	Посчитайте описательную статистику сгруппировав по
a.	Домам
b.	Подъездам
c.	Этажам 
d.	Квартирам

In [28]:
array_buildings_mean=((array_4d.mean(axis=3)).mean(axis=2)).mean(axis=1) #
array_buildings_mean

array([419.60884235, 391.6057133 ])

In [207]:
array_buildings=((array_4d.sum(axis=3)).sum(axis=2)).sum(axis=1) #по домам
array_buildings

array([25176.53054095, 23496.34279806])

In [213]:
from scipy import stats
stats.describe(array_buildings)

DescribeResult(nobs=2, minmax=(23496.342798063055, 25176.530540951244), mean=24336.43666950715, variance=1411515.4256758536, skewness=-6.5344646247592555e-15, kurtosis=-2.0)

In [32]:
array_porches=((array_4d.sum(axis=3)).sum(axis=2)).sum(axis=0) #сумма по подъездам
array_porches

array([16392.84927507, 16665.86374504, 15614.16031891])

In [33]:
((array_4d.mean(axis=3)).mean(axis=2)).mean(axis=0) #среднее по подъездам

array([409.82123188, 416.64659363, 390.35400797])

In [35]:
((array_4d.std(axis=3)).std(axis=2)).std(axis=0) #среднее отклонение по подъездам

array([ 0.92519776,  7.62528965, 14.91847307])

In [36]:
((array_4d.min(axis=3)).min(axis=2)).min(axis=0) #минимальное по подъездам

array([157.39572235, 220.71911502, 173.47384689])

In [37]:
((array_4d.max(axis=3)).max(axis=2)).max(axis=0) #максимальное по подъездам

array([587.14862006, 622.59454348, 646.08101884])

In [219]:
stats.describe(array_porches)

DescribeResult(nobs=3, minmax=(15614.160318909731, 16665.863745036288), mean=16224.291113004765, variance=297828.9146302561, skewness=-0.513288437281026, kurtosis=-1.5000000000000024)

In [221]:
array_floors=((array_4d.sum(axis=3)).sum(axis=1)).sum(axis=0) #по этажам
array_floors

array([12620.0027618 , 12207.48892738, 12271.98659741, 11573.39505241])

In [39]:
((array_4d.mean(axis=3)).mean(axis=1)).mean(axis=0) #среднее по этажам

array([420.66675873, 406.91629758, 409.06621991, 385.77983508])

In [222]:
stats.describe(array_floors)

DescribeResult(nobs=4, minmax=(11573.395052413767, 12620.00276180416), mean=12168.218334753574, variance=190077.97917324022, skewness=-0.5437272442311318, kurtosis=-0.9461153485723046)

In [210]:
array_apartments=((array_4d.sum(axis=2)).sum(axis=1)).sum(axis=0) #по квартирам
array_apartments
#

array([10342.57800152, 10475.11404909,  9688.96205365,  8608.03610246,
        9558.18313228])

In [57]:
array_4d.sum(axis=(0,1,2)) #второй способ

array([10342.57800152, 10475.11404909,  9688.96205365,  8608.03610246,
        9558.18313228])

In [223]:
stats.describe(array_apartments)

DescribeResult(nobs=5, minmax=(8608.036102463215, 10475.11404909407), mean=9734.574667802859, variance=555087.5631570859, skewness=-0.5436506225354885, kurtosis=-0.9219333473582538)

7.	Посчитайте суммарное потребление по этажам каждого здания отдельно

In [218]:
array_floors_buildings=(array_4d.sum(axis=3)).sum(axis=1)
array_floors_buildings

array([[6423.35220763, 6117.69470907, 6664.05457378, 5971.42905047],
       [6196.65055417, 6089.79421831, 5607.93202364, 5601.96600194]])



8.	B суммарное потребление по каждому зданию
•	axis : None or int or tuple of ints, optional link

In [31]:
array_buildings=((array_4d.sum(axis=3)).sum(axis=2)).sum(axis=1) #по домам
array_buildings

array([25176.53054095, 23496.34279806])